// Move vault info to top
.workspace-sidedock-vault-profile {
  order: unset !important;
}

// Overlay the status bar
.workspace-split:not(.mod-root) {
  z-index: 50;
}

// Place tabs on bottom
.workspace-split:not(.mod-root) .workspace-tabs .workspace-tab-header-container {
  order: 1;
}

// Resize handle
.workspace-leaf-resize-handle {
  top: var(--header-height) !important;
  height: calc(var(--divider-vertical-height) - var(--header-height) - var(--status-bar-height)) !important;

  &:hover {
    background-color: var(--divider-color);
  }
}