.status-bar {
  --status-bar-radius: 0;
  --status-bar-position: relative;
  padding-left: calc(var(--size-4-2) + var(--frame-right-space));

  justify-content: flex-start;
  gap: 0px;

  padding: 0;

  border: none;
}

.status-bar > .status-bar-item {
  padding: 0;
  padding-left: 5px;

  border-radius: 0;
}

// Alternate colors
.status-bar {
  background-color: var(--status-bar-background-color-alt);
}

.status-bar > .status-bar-item:nth-last-child(odd) {
  --status-bar-mask-color: var(--status-bar-background-color-alt);

  color: var(--status-bar-text-color);
  background-color: var(--status-bar-background-color);
}

.status-bar > .status-bar-item:nth-last-child(even) {
  --status-bar-mask-color: var(--status-bar-background-color);

  color: var(--status-bar-text-color-alt);
  background-color: var(--status-bar-background-color-alt);
}

// Arrows
.status-bar > .status-bar-item:after {
  content: "";
  
  margin-left: 5px;

  border-top: calc(0.5 * var(--status-bar-height)) solid var(--status-bar-mask-color);
  border-bottom: calc(0.5 * var(--status-bar-height)) solid var(--status-bar-mask-color);
  border-left: calc(0.5 * var(--status-bar-height)) solid transparent;
}

.status-bar > .status-bar-item:last-child:after {
  --status-bar-mask-color: var(--status-bar-background-color-alt);
}
