.status-bar {
  --status-bar-radius: 0;

  gap: 0px;

  width: 100%;
  padding-left: calc(var(--size-4-2) + var(--frame-right-space));

  padding: 0;

  border: none;
}

.status-bar > .status-bar-item {
  padding: 0;
  padding-right: 5px;

  border-radius: 0;
}

// Alternate colors
.status-bar {
  height: var(--status-bar-height);
  background-color: var(--status-bar-background-color-alt);
}

.status-bar > .status-bar-item:nth-child(odd) {
  --status-bar-mask-color: var(--status-bar-background-color-alt);

  color: var(--status-bar-text-color);
  background-color: var(--status-bar-background-color);
}

.status-bar > .status-bar-item:nth-child(even) {
  --status-bar-mask-color: var(--status-bar-background-color);

  color: var(--status-bar-text-color-alt);
  background-color: var(--status-bar-background-color-alt);
}

// Arrows
.status-bar > .status-bar-item::before {
  content: "";
  
  margin-right: 5px;

  border-top: calc(0.5 * var(--status-bar-height)) solid var(--status-bar-mask-color);
  border-bottom: calc(0.5 * var(--status-bar-height)) solid var(--status-bar-mask-color);
  border-right: calc(0.5 * var(--status-bar-height)) solid transparent;
}

.status-bar > .status-bar-item:last-child::before {
  --status-bar-mask-color: var(--status-bar-background-color-alt);
}
