// Tab row
.workspace-tab-header-container {
  padding: 0 !important;

  // Right Icons
  .workspace-tab-header-tab-list {
    opacity: 0;
    transition: opacity 0.2s;
  }

  .sidebar-toggle-button {
    opacity: 0;
    transition: opacity 0.2s;
  }

  &:hover {
    .workspace-tab-header-tab-list {
      opacity: 1;
    }

    .sidebar-toggle-button {
      opacity: 1;
    }
  }

  // Tabs
  .workspace-tab-header-container-inner {
    gap: 0;
    
    padding: 0;
    margin: 0;

    .workspace-tab-header {
      padding: 0;

      box-shadow: none;
      border-radius: 0;

      &:hover .workspace-tab-header-inner {
        background-color: transparent;
      }

      &::before {
        display: none;
      }

      .workspace-tab-header-inner {
        padding-left: 15px;

        &::after {
          content: none;
        }
      }
    }
  }
}

.workspace-tab-header-new-tab {
  padding: 0;
  margin-inline-start: 5px;

  .clickable-icon:hover {
    background-color: transparent;
  }
}

// Alternate colors
.workspace-tab-header-container .workspace-tab-header-container {
  background-color: var(--titlebar-background);
}

.workspace-tab-header-container .workspace-tab-header.is-active {
  &::before, &::after {
    box-shadow: none !important;
  }
}

.workspace-tab-header-container .workspace-tab-header:nth-child(odd) {
  --tab-mask-color: var(--status-bar-background-color-alt);

  color: var(--status-bar-text-color);
  background-color: var(--status-bar-background-color);
}

.workspace-tab-header-container .workspace-tab-header:nth-child(even) {
  --tab-mask-color: var(--status-bar-background-color);

  color: var(--status-bar-text-color-alt);
  background-color: var(--status-bar-background-color-alt);
}

// Arrows
.workspace-tab-header-container .workspace-tab-header:after {
  all: initial;
  content: "";
  
  margin-left: 5px;

  border-top: calc(0.5 * var(--header-height)) solid var(--tab-mask-color);
  border-bottom: calc(0.5 * var(--header-height)) solid var(--tab-mask-color);
  border-left: calc(0.5 * var(--header-height)) solid transparent;
}

.workspace-tab-header-container .workspace-tab-header:last-child:after {
  --tab-mask-color: var(--status-bar-background-color-alt);
}